@font-face {
    font-family: DINPro-Regular;
    src: url(../../../assets/font/dinpro_font/DINPro-Regular.otf);
}

@font-face {
    font-family: DINPro-Bold;
    src: url(../../../assets/font/dinpro_font/DINPro-Bold.otf);
}

.info-img {
    max-height: 30vh;
    object-fit: contain;
    padding: 10px;
}

ion-title {
    font-family: DINPro-Bold;
}

ion-card-content,
ion-label,
ion-card-title,
ion-card-subtitle {
    font-family: DINPro-Regular;
}